# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
pubspec.lock

# Build outputs
build/
ios/Pods/
macos/Pods/
windows/Debug/
windows/Release/
linux/Debug/
linux/Release/

# Generated plugin registrants
**/generated_plugin_registrant.*

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

.analysis_options.yaml